@{
    ViewBag.Title = "Home";
}


<br />
<div style="text-align:center; border 1px black; height: 90px">
    <h1><i><strong>This private cloud split up in two different services:</strong></i></h1>
</div>

<br />
<div style="text-align:center; border 1px black; height: 1000px">
    <a href="/MyStorage/Storage">
        <div style="background-image: url('https://wallpaperaccess.com/full/408964.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;; height: 50%; display: inline-block; width: 40%; box-sizing: border-box">
            <div style="color:aliceblue">
                <h1>Storage:</h1>
                <br />
                <br />
                <h2><i><u>Upload files from everywhere</u></i></h2>
                <h2><i><u>Encrypt / Decrypt stored files from everywhere</u></i></h2>
                <h2><i><u>Download files from everywhere</u></i></h2>
            </div>

        </div>
    </a>
    
    <a href="/Instance/Index">
        <div style="background-image: url('https://wallpaperaccess.com/full/1236298.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; height: 50%; display: inline-block; width: 40%; box-sizing: border-box">
            <div style="color:aliceblue">
                <h1>Instances:</h1>
                <br />
                <br />
                <h2><i><u>Launch remote instances(VMs)</u></i></h2>
                <h2><i><u>Enable / Disable instances for security reasons</u></i></h2>
                <h2><i><u>Login remotely to any instance</u></i></h2>
            </div>
        </div>
    </a>
</div>


